.chat-box {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.message-container {
  max-height: 400px;
  overflow-y: auto;
  padding: 1rem;
}

.message user {
margin: 10px;
}

.user-name{
  display: flex;
margin-bottom: 20px;
font-size: bold;}
.ai-name{
  display: flex;
margin-bottom: 20px;
font-size: bold;}

.message {
  margin: 1rem 0.5rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--ai-message-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.user .message {
  background-color: var(--user-message-color);
  text-align: right;
}

.ai .message {
  text-align: left;
}

.ai-typing::after {
  content: '...';
  animation: typing 1s infinite;
}

@keyframes typing {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}
